body, html {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: myFont;
  src: url(Yang.otf);
}

.my-container {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg {
  background-image: url("bg.jpg");
}

#mist {
  opacity: 1.0;
  background-image: url("mist.png");
	transition: opacity 2s;
}

#text-container {
  background-image: url("cont.png");
	opacity: 0.75;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#verse-container {
  display: grid;
  grid-template-areas: 'v'
}

.verse {
  font-family: myFont;
	color: #afafaf;
	text-align: center;
	font-size: 3.5vw;
  opacity: 0.0;
  grid-area: v;
  transition: opacity 2s ease-in-out, font-size 0.5s ease-in-out;
}

#verse0 {
  opacity: 1.0;
}

#devourer {
	position: fixed;
	height: 16.2vw;
	width: 10vw;
	opacity: 0.0;
	top: 62%;
	left: 72%;
	z-index: 2;
	transition: opacity 1s, top 3s, height 3s, width 3s;
}

@media (max-width: 868px) {
  .verse {
    font-size: 4.5vw;
  }
}

